<footer >
    <div id="pie" class="links">
        <div class="row" >
            <div class="small-12 large-5 columns">
                <div class="me">
                    <p><a class="float-left" href="https://google.com/+xerron00">
                        <img id="gplus-img" alt="E. Manuel Cerrón Angeles" src="{{root}}assets/img/profile/profile.jpg">
                    </a>Bachiller en <strong>Ingenieria de Sistemas</strong> de la <a href="https://unprg.edu.pe"><strong>UNPRG</strong></a>,
                        con 6 años de experiencia profesional desarrollando aplicaciones  escalables de alto rendimiento,
                        amigables y faciles de usar, tanto en plataformas Web como para dispositivos moviles (<strong>android y ios</strong>).

                    </p>
                    <p class="show-for-large"><strong>E. Manuel Cerrón Angeles</strong><br>Ing. de Sistemas - UNPRG<br><strong>Full Stack developer</strong></p>
                </div>
            </div>
            <div class="small-12 large-3 columns social">
                <ul class="menu vertical social-links">
                    <li><a href="https://google.com/+xerron00"><i class="fi fi-social-googleplus fi-2x"></i></a> <span class="show-for-large">Coomunidades <a
                        href="https://google.com/+xerron00"><strong>+xerron00</strong></a></span></li>
                    <li><a href="https://github.com/xerron"><i class="fi fi-social-github fi-2x"></i></a> <span class="show-for-large">Proyectos Open-Source.</span></li>
                    <li><a href="https://twitter.com/x3rron"><i class="fi fi-social-twitter fi-2x"></i></a> <span class="show-for-large">Sigueme <a
                        href="https://twitter.com/x3rron"><strong>@x3rron</strong></a>.</span></li>
                    <li><a href="https://linkedin.com/xerron"><i class="fi fi-social-linkedin fi-2x"></i></a> <span class="show-for-large">Perfil profesional.</span></li>
                </ul>
            </div>
            <div class="small-12 large-4 columns map">
                <ul class="map-content menu vertical">
                    <li class="support text-right"><h6><i class="fi fi-calendar fi-2x"></i> 24/7/365</h6></li>
                    <li class="text-right"><a href="mailto:xerron.angels@gmail.com?subject=Desarrollo de App" class="button hollowed large">Contacto</a></li>
                    <li class="text-right"><h2>(+51) 980129355</h2></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="row separation"></div>
        <div class="row" >
            <div class="large-12 columns">
                <p class="text-center"> E. Manuel Cerrón Angeles, Copyright © 2017</p>
            </div>
        </div>
    </div>
</footer>
