<div id="me" class="row align-middle">
  <div class="centered columns">
    <section id="about" class="text-center">
      <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ site.baseurl }}assets/img/{{ site.avatar }}" alt="Responsive image">
        </div>
        <h3>Soy <strong>{{ site.author }}</strong>, <span class="ityped"></span></h3>
        <h3>Puedes echar un vistazo a algunos de mis  <a href="#" class="projects">proyectos</a>.</h3>
        <h3>Para más, echa un vistazo a mi <a href="http://xerron.github.io/resume" target="_blank">Curriculum</a> academico y profesional.</h3>
        <h3>Contactame por <a href="http://plus.google.com/+{{ site.gplus }}" target="_blank">+{{ site.gplus }}</a> o por <a href="mailto:{{ site.email }}">email</a>.</h3>
        <br>
        <div class="social">
        <a href="https://google.com/+xerron00"><i class="fi fi-social-googleplus fi-2x"></i></a>
        <a href="https://github.com/xerron"><i class="fi fi-social-github fi-2x"></i></a>
        <a href="https://twitter.com/x3rron"><i class="fi fi-social-twitter fi-2x"></i></a>
        <a href="https://linkedin.com/xerron"><i class="fi fi-social-linkedin fi-2x"></i></a>
        </div>
      </div>
    </section>
  </div>
</div>

