<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="favicon" href="{{ site.baseurl }}favicon.ico">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
	
	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/app.css" />
    <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />-->
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/syntax.css" />-->

    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>
  <!-- Main Body-->
  <body>

    {{ content }}

  <!-- Footer -->
  {% include footer.html %}

    <!--<a href="https://github.com/biomadeira/sustain"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="https://unpkg.com/ityped@0.0.10"></script>
    <script src="{{ site.baseurl }}assets/js/app.js"></script>
  </body>
</html>
